/Java_Projects/08-Methods_Practice2/nbproject/private/
/Java_ActivityGuide_Projects/08-Methods_Practice2/nbproject/private/
/Java_ActivityGuide_Projects/08-Methods_Practice1/nbproject/private/
/Java_ActivityGuide_Projects/07-ManipulateFormat_Practice1/nbproject/private/
/Java_ActivityGuide_Projects/06-ObjectsClasses_Practice2/nbproject/private/
/Java_ActivityGuide_Projects/08-Methods_Practice3/nbproject/private/
/Java_ActivityGuide_Projects/09-EncapConstructors_Practice1/nbproject/private/
/Java_ActivityGuide_Projects/10-Conditions_Practice1/nbproject/private/
/Java_ActivityGuide_Projects/10-Conditions_Practice2/nbproject/private/